.rent__banner {
    background-image: url(../img/offices-sections/background-rent.png);
    background-size: cover;
    background-position: 30% 70%;
    min-height: 610px;
    padding-top: 130px;
    padding-bottom: 135px;
    display:flex;
}

.title {
    letter-spacing: 3px;
}

.items_text {
    color: var(--black-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-bottom: 90px;
}

.content__rent {
    display: block;
    width: 470px;
    height: 375px;
    margin: 20px;
}

.button__container a {
    display: block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin-top: 40px;
}

@media(min-width: 600px) {
.button__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin: auto;
    margin-top: 40px;
}
}


.btn__contacts {
    background-color: var(--text-btn);
    cursor: pointer;
    border-radius: 25px;
    margin: auto;
    color: var(--main-color);
    padding: 10px 25px;
    font-size: 16.5px;
    letter-spacing: 1px;
    width: 200px;
}

.btn__contacts:hover {
    background-color: var(--text-blue-color);
    border: 1px;
    color: var(--main-color);

}

.btn__offers {
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 25px;
    margin: auto;
    border: 1px solid var(--offices-color);
    color: var(--offer-btn);
    padding: 10px 25px;
    font-size: 16.5px;
    letter-spacing: 1px;
    width: 250px;
}

.btn__offers:hover {
    background-color: var(--offices-color);
    color: var(--main-color);
}

@media (min-width:660px) {
    .content__rent {
        margin-left:340px;
    }
}